@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor

<h3>Add a new Doctor</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)

  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)

  @Html.Label("Specialty")
  @Html.DropDownList("SpecialtyId")
  <input type="submit" value="Add Doctor" class="btn btn-light" />
}

