@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient;

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.FirstName, "First Name:")
  @Html.TextBoxFor(model => model.FirstName)
  <br>
  @Html.LabelFor(model => model.LastName, "Last Name:")
  @Html.TextBoxFor(model => model.LastName)
  <input type="submit" value="Update Record" />
}

<p>@Html.ActionLink("Return to Patient Details", "Details", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Return to All Patients", "Index")</p>